<div class="px-4 py-4">
  <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white mb-8">
    Projects
  </h1>

  <div class="relative overflow-x-auto shadow-md sm:rounded-lg mb-16">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <th scope="col" class="px-6 py-3">
          Project Name
        </th>
        <th scope="col" class="px-6 py-3">
          Project Status
        </th>
      </tr>
      </thead>
      <tbody>
        <%= render projects %>
      </tbody>
    </table>
  </div>


  <%= link_to "New project", new_project_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>